@font-face {
  font-family: "Made";
  src: url(../fonts/MADE\ Outer\ Sans\ Alt\ Bold\ PERSONAL\ USE.otf);
}
@font-face {
  font-family: "SF";
  src: url(../fonts/FontsFree-Net-SFProDisplay-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gradient-1 {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background: linear-gradient(90deg, #FF812C 0%, rgb(255, 255, 255) 100%);
  position: absolute;
  top: -200px;
  left: -200px;
  filter: blur(200px);
  opacity: 0.5;
}

.gradient-2 {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgb(208, 250, 58) 0%, rgb(255, 255, 255) 100%);
  position: absolute;
  bottom: -100px;
  right: -300px;
  filter: blur(200px);
  opacity: 0.3;
}

html, body {
  width: 100%;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, span {
  color: #d0fa3a;
  font-family: "Made", sans-serif;
}

a {
  color: #d0fa3a;
  text-decoration: none;
  font-family: "SF", sans-serif;
}

p {
  color: #1A1A1A;
  font-family: "SF", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  padding: 20px 0;
}
header .container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .header a {
  color: #1A1A1A;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 20px;
}
header .container .header .auth {
  display: flex;
  align-items: center;
}
header .container .header .auth a {
  margin-left: 20px;
}
header .container .header .auth .btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: #d0fa3a;
  color: #1A1A1A;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 900;
}

.hero {
  height: auto;
  overflow-x: hidden;
}
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .container .hero-text {
  width: 50%;
  text-align: left;
}
.hero .container .hero-text h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #1A1A1A;
}
.hero .container .hero-text span {
  color: #1A1A1A;
}
.hero .container .hero-text p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #1A1A1A;
}
.hero .container .hero-text .btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: #d0fa3a;
  color: #1A1A1A;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 900;
}
.hero .container .hero-img {
  width: 50%;
}
.hero .container .hero-img img {
  width: 100%;
}

.gallery {
  padding: 50px 0;
}
.gallery .container .gallery-text {
  text-align: center;
}
.gallery .container .gallery-text h1 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #1A1A1A;
}
.gallery .container .gallery-text p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #1A1A1A;
}
.gallery .container .gallery-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.gallery .container .gallery-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease;
}

footer {
  padding: 30px 0;
  margin-top: 100px;
  background-color: #1A1A1A;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .footer-text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 900;
}
footer .container .footer-social a {
  color: #fff;
  font-size: 1.2rem;
  margin-right: 20px;
}/*# sourceMappingURL=index.css.map */